<ion-view title="Stories" id="page8" class=" ">
    <ion-content padding="true" class="has-header">
        <ion-list id="stories-list3" class=" manual-list-fullwidth ">
            <ion-item class="item-avatar  " id="stories-list-item8">
                <h2>Item</h2>
            </ion-item>
            <audio class="audio-stories" controls>
                <source src="http://akroatis.cygnus.uberspace.de/bensound-betterdays.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </ion-list>
    </ion-content>
</ion-view>
