<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.dohack.akroatis" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Akroatis</name>
  <description>&#xD;
        A sample Apache Cordova application that responds to the deviceready event.&#xD;
    </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">&#xD;
        Apache Cordova Team&#xD;
    </author>
  <content src="index.html"/>
  <plugin name="cordova-plugin-whitelist" spec="1"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <allow-intent href="market:*"/>
    <splash src="resources\android\splash\drawable-land-ldpi-screen" density="land-ldpi"/>
    <splash src="resources\android\splash\drawable-land-mdpi-screen" density="land-mdpi"/>
    <splash src="resources\android\splash\drawable-land-hdpi-screen" density="land-hdpi"/>
    <splash src="resources\android\splash\drawable-land-xhdpi-screen" density="land-xhdpi"/>
    <splash src="resources\android\splash\drawable-land-xxhdpi-screen" density="land-xxhdpi"/>
    <splash src="resources\android\splash\drawable-land-xxxhdpi-screen" density="land-xxxhdpi"/>
    <splash src="resources\android\splash\drawable-port-ldpi-screen" density="port-ldpi"/>
    <splash src="resources\android\splash\drawable-port-mdpi-screen" density="port-mdpi"/>
    <splash src="resources\android\splash\drawable-port-hdpi-screen" density="port-hdpi"/>
    <splash src="resources\android\splash\drawable-port-xhdpi-screen" density="port-xhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxhdpi-screen" density="port-xxhdpi"/>
    <splash src="resources\android\splash\drawable-port-xxxhdpi-screen" density="port-xxxhdpi"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
  <preference name="SplashScreen" value="screen"/>
  <preference name="SplashScreenDelay" value="3000"/>
</widget>
